/* General styles */
body{
  margin: 0px auto;
}

p{
  font-size: 22px;
  margin: 15px 0px 15px 0px;
}
.app{
  width: 100%;
}

.header{
  min-height: 60px;
  background: #324162;
  padding: 1px 0px 0px 0px;
}

.main{
  width: 100%;
   height: 100%;

  overflow: auto;
  /*width: 100%;
  border-width: 40px 0 40px;
  background: #fff;
  height: auto;*/
}

.footer{
  width: 100%;
  min-height: 50px;
  background: #434e7b;
}




.logo-wrap{
  padding: 0px 0px 0px 25px;
}

.copyrigth-wrap{
  text-align: center;
}

.main-wrap{
  margin: auto;
}

.video-menu{
  width: 100%;
}

.video-wrap{
  height: 400px;
}

.setup-menu{
  margin: 0 auto;
}

/* Elements styles */

.text{
/*margin: 0 auto;
  text-align: center;*/
}

.logo{
  color: white;
  font-family: Tahoma,sans-serif;
}

.copyrigth{
  color: white;
}

.btn{
  line-height: 26px;
  border-radius: 3px;
  padding: 0px 7px 0px 7px;
}


.start{
  background: #6fd170;
}
.stop{
  background: #b81f1f;
}
