/* General styles */
body{
  margin: 0px auto;
}

p{
  font-size: 22px;
  margin: 0px 0px 0px 0px;
}
.app{
  width: 100%;
}

.header{
  min-height: 60px;
  background: #324162;
  padding: 10px 0px 10px 0px;
}

.main{
   height: 100%;
   min-height: 50px;
   margin: 25px auto;
   overflow: auto;
   max-width: 550px;
  /*width: 100%;
  border-width: 40px 0 40px;
  background: #fff;
  height: auto;*/
}

.footer{
  width: 100%;
  min-height: 50px;
  background: #434e7b;
  padding: 10px 0px 10px 0px;
}


.logo-wrap{
  margin: 15px 0px 0px 60px;
}

.copyrigth-wrap{
  text-align: center;
  padding: 8px 0px 8px 0px;
}

.main-wrap{
  text-align: center;
}

.video-menu{
  width: 100%;
}

.mrg-1{
  padding: 45px 0px 20px 0px;
}

.video-wrap{
  height: 400px;
}

/* Elements styles */

.lbl{
  font-size: 24px;
}

.logo{
  color: white;
  font-family: Tahoma,sans-serif;
}

.copyrigth{
  color: white;
}

#video-flow{
  width: 550px;
  height: 100%;
  background: #000;
}

.btn{
  line-height: 26px;
  border-radius: 3px;
  padding: 1px 15px 1px 15px;
}

.p-left{
  float: left;
}
.p-rigth{
  float: right;;
}
.start{
  background: #6fd170;
  color: white;
  font-weight: 600;
}
.stop{
  background: #b81f1f;
}
